/* Playing with CSS again Nate Jacobs 2017 */

/*
.photo:hover {
     opacity: 0.8;         
}
*/

.img-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}

img.mdsol-link {
    margin: 0 auto;
    opacity: 1;
}

.mdsol:hover {
    opacity: 0.1;         
}


.opaque_text {
    color: rgba(0, 0, 0, 0.6)
}

.content {
    max-width: 980px;
    margin: auto;   
    transition: background .75s ease;
    
}
.dark-background {
    background: rgba(0, 0, 0, 0.589);
 }

 .neon-text{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 64px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px 
    #3e30ff , 0 0 70px #3e30ff , 0 0 80px #3e30ff , 0 0 100px #3e30ff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    
 }
    
/* Photo hoverover syling */
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;    
    pointer-events: none;    
}

.div-photo {
    position: relative;

}
  
  .div-photo:hover .overlay {
    opacity: .65;
  }
  
  .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  /* lightbox !!! */
  #lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.7);
    text-align:center;
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}


.nate-logo{
    color: #000!important;
    background-color: rgba(0, 0, 0, 0.719)!important
}